


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


h1 {
    text-align: center;
    margin-top: 20px;
}


#news-container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px; 
}


#news-container div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#news-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


#news-container h2 {
    font-size: 18px;
    margin: 10px 0;
}


#news-container p {
    font-size: 14px;
    color: #333;
}


#news-container a {
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#news-container a:hover {
    text-decoration: underline;
}

#news-container h1{
    margin-right: 10px;
    margin-top: 100px;
}